<section>
    <div class="main-container">
        <div class="cont__text">
            <h2 class="cont__title">The Title is This</h2>
            <p class="cont__sub">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus arcu aliquam facilisis aliquam. 
                Nulla purus est, eleifend at euismod at, dignissim sagittis elit. Curabitur eleifend, dui non venenatis mollis.
            </p>
        </div>
        <div class="cont__img-holder">
            <p-galleria [value]="images" [(activeIndex)]="activeIndex" [showIndicators]="true" [showThumbnails]="false"
            [autoPlay]="true" [transitionInterval]="5000" [circular]="true">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" class="cont__img"/>
                </ng-template>
            </p-galleria>
        </div>
        <div class="cont__accordion">
            <p-accordion [(activeIndex)]="activeIndex">
                <p-accordionTab [disabled]="isAccordionTabDisabled(0)" header="Header I">
                    <p class="accordion__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </p-accordionTab>
                <p-accordionTab [disabled]="isAccordionTabDisabled(1)" header="Header II">
                    <p class="accordion__text">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                    </p>
                </p-accordionTab>
                <p-accordionTab [disabled]="isAccordionTabDisabled(2)" header="Header III">
                    <p class="accordion__text">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</section>
