<div class="hero-main">
    <div class="hero-contents">
        <div class="hero-content__title"><h1>Elegance, Fashion, & Sophistication.</h1></div>
        <div class="hero-content__sub">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus arcu aliquam facilisis aliquam. 
                Nulla purus est, eleifend at euismod at, dignissim sagittis elit. Curabitur eleifend, dui non venenatis mollis.
            </p>
        </div>
        <p-button [outlined]="true" label="Shop Now"></p-button>
    </div>
</div>
<!-- Explore Categories -->
<app-landing-explore></app-landing-explore>
<!-- Accordion description -->
<app-landing-accordion></app-landing-accordion>
<!-- Best Sellers -->
<app-landing-best-sellers></app-landing-best-sellers>
<!-- Featured Banner -->
<app-landing-featured></app-landing-featured>
<!-- New Arrivals -->
<app-landing-new-arrivals></app-landing-new-arrivals>
<!-- Promos -->
<app-landing-promos></app-landing-promos>