<header class="header-bar">
    <div class="header-mobile__btns">
        <div class="mobile-btn__hamburger">
            X
        </div>
        <div class="mobile-btn__search">
            O
        </div>
    </div>
    <h1 class="header__title">FakeStore</h1>
    <div class="header-middle__btns">
        <div class="middle__btn">Featured</div>
        <div class="middle__btn">Electronics</div>
        <div class="middle__btn">Jewelry</div>
        <div class="middle__btn">Men's Clothing</div>
        <div class="middle__btn">Women's Clothing</div>
    </div>
    <div class="header-right__btns">
        <div class="pc-btns">
            <div class="pc-btn__signin">
                Sign In
            </div>
            <div class="pc-btn__search">
                O
            </div>
        </div>
        <div class="right-btn__cart">
            C
        </div>
    </div>
</header>
